/* body.boxed #container {
	max-width: 100%;
} */

.navbar-nav > li > a {
	padding: 20px 12px 20px 12px;
}

.navbar-nav > li.has-dropdown > a {
	padding: 20px 30px 20px 12px;
}

.navbar-nav > li > a:after {
    content: '';
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 13px;
    color: #666666;
    top: 21px;
    right: 13px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-nav > li.has-dropdown > a:after {
    content: '\f107';
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 13px;
    color: #666666;
    top: 21px;
    right: 13px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.list-posts > li .post-content h2 {font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 400}

.heading-news2 .heading-news-box .image-slider.snd-size .image-post .hover-box .inner-hover h2 {font-family: 'Open Sans', sana-serif; font-weight: 400}
.image-post .hover-box .inner-hover h2 {font-family: 'Open Sans', sana-serif; font-weight: 400}

.video-post .hover-box h2 {font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 1.2; font-size: 16px}
	
.standard-post2 .post-title h2 {font-size: 25px !important; line-height: 30px}
.article-post .post-content h2 {font-size: 25px !important; line-height: 30px; color: #000;}